.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 16px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  font-size: 1.5rem;
  color: #333;
}

.description, p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.price {
  font-size: 1.2rem;
  color: #007bff;
  margin-bottom: 10px;
}

button {
  background: linear-gradient(to bottom, #FFF3E0, #FFE0B2);
  color: #333;
  padding: 12px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

button:hover {
  background: linear-gradient(to bottom, #FFE0B2, #FFF3E0);
}
