nav {
  background-color: #f1f1f1;
  padding: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

hr {
  margin: 20px 0;
}

.nav-button {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: width 0.5s ease-in-out;
}

.nav-button:hover {
  width: auto;
}
