<div class="cart">
  <h1>Your Cart</h1>
  <div *ngFor="let item of cartItems" class="cart-item">
    <div *ngIf="item.product">
      <h2>{{ item.product.name }}</h2>
      <p>{{ item.product.description }}</p>
      <p>Quantity: {{ item.quantity }}</p>
      <button (click)="removeFromCart(item.id)">Remove</button>
      <button (click)="updateQuantity(item.id, item.quantity + 1)">Increase the number of products</button>
      <button (click)="updateQuantity(item.id, item.quantity - 1)">Reduce the number of products</button>
    </div>
  </div>
</div>
